/*
*= require_self
*= require_tree
*/

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

// ヘッダー画像 //=============================================================

.header-image {
  width: 100%;
}

//==============================================================================

// ヘッダーメニュー //==========================================================
.header-menu {
  background-color:	#F0E68C;
}

//===========================================================================

// body関連 //================================================================
body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.content {
  margin: 0 20% 0 20%;
  padding: 50px;
  flex: 1;
}

// flash
.notifications {
  color: $white;
  text-align: center;

  .notice {
    background-color: #A4C6FF;
  }

  .alert {
    background-color: #FF8856;
  }
}

//============================================================================

// フッタ //===================================================================
.footer {
  height: 100px;
  background-color:	#F0E68C;
}

//=============================================================================

// ページタイトル //==============================================================
.page-title {
  margin-bottom: 5%;
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #7db4e6;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
}

//==============================================================================
