
// devise登録関連
.sign-up-input {
  height: 30px;
  width: 50%;
  margin: 0% 3%;
}

#sign-up-submit {
  padding-top: 5%;
  text-align: center;
}

.sign-up-confirm {
  text-align: center;
}

// deviseログイン関連
.login-form {
  width: 100%;
  background-color: #f4f4f4;
  padding: 30px 0px 30px 0px;
}

.login-form label {
  font-size: 20px;
  padding-top: 3%;
}

.login-input {
  height: 30px;
  width: 70%;
}

.login-form .field {
  margin-left: 22%;
}

#login-submit {
  padding-top: 2%;
  text-align: center;
}

// registrations/show
.shop-user-show {
  text-align: center;
  table {
    margin-bottom: 5%;
  }
}
